
.alert{
    color:red;
 }



h1{
    margin-inline-end: 20px;
    margin-left: 7in;
    margin-block:inherit;
    font-size: large;
    font-weight: bold;
    font-synthesis: style;
}
h2{
    margin-block:inherit ;
}