/* Page TWo */
.menu{
    clear: left;
}
ol{
    list-style-type:lower-alpha;
    background-color: aquamarine;
    padding: 20px;
}

}
ol li{
    background-color: black;
    margin: 5px;
    padding: 3%;
    list-style-position: inside;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.first{
    float: left;
   
    background-color: rgb(192, 100, 100);
    width: 500px;
    font-family: Verdana, "Dejavu Sans", sans-serif;
}
.second{
    float: left;
   
    background-color: rgb(192, 100, 100);
    width: 500px;
    font-size: 35px;
}
#first-head{
color:rgb(0,100,192);
background-color:rgb(255, 255, 255);
font-size: large;
width: 500px;

}
#second-head{
    color:rgb(0,0,0);
    background-color:rgb(0, 204, 85);
    font-size: 24px;
    width: 500px;
    font-weight: bold;
    }

img{
    height: auto;
    width: 250px;
}
div{
    background-color: red;
    color: white;
    font-size: 32px;
    text-align: center;
    font-weight: bold;

}
button{
    background-color: orange;
    font-size: 18px;
}

/* Page Three */
.recipe{
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', Times, sans-serif;
    width: 500px;
}
#ingredients{
   background-color: black;
   color:#FFFF

}
#steps{
    background-color: yellow;

}